
<div id="snackbar" class="alert-success fade" [ngClass]="{in: successMessage== true}"><strong>Hola!</strong> Logged In Successfully.</div>   

<a href="javascript:void(0)" (onClick)="logout">
<div class="banner-section">
	<img src="assets/images/banner.png" alt="banner">
</div>
<div >

	<input id="ex6" type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="3"/>
	<span id="ex6CurrentSliderValLabel">Current Slider Value: <span id="ex6SliderVal">3</span></span>
</div>
